<div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <h1 class="text-center main-heading">About Us</h1>
        <p class="text-center sub-heading">Grow your knowledge with us</p>
        <div class="row">
          <div class="col-md-6 col-12 hero-text ">
            <figure>
              <img src="images/about.svg" alt="herosection_img">
            </figure>
          </div>
          {{!--right side --}}
          <div class="col-md-6 col-12 hero-text   d-flex justify-content-center align-items-left flex-column">
            <h1>We are the Team of Sci-Tech Nation</h1>
            <P>  Welcome to  <span class ="bold-style">Sci-Tech Nation</span>
            Your number one source for all science stuffs. We are committed to provide you 
            the best and authentic news related to recent development, research. inventions in all fields of science and technology around the globe.</P>
            <button class='btn-style btn-primary'>Read More</button>
          </div>
          
        </div>
      </div>
    </div>
  </div>