<div class="container-fluid mt-5 about-style" id="serviceid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Topics</h1>
            <p class="text-center sub-heading">Grow your knowledge with us</p>
            <div class="row">
               <div class="col-md-4">
                   <div class="box">
                       <div class="our-services settings">
                            <div class="icon">
                                <img src="https://img.icons8.com/cotton/64/000000/computer.png" alt="">
                            </div>
                            <h4>Technology</h4>
                            <p>Technology is the practical application of scientific knowledge in human life and to the environment. </p>
                       </div>
                   </div>
               </div> 
               <div class="col-md-4">
                   <div class="box">
                       <div class="our-services speedup">
                            <div class="icon">
                                <img src="https://img.icons8.com/cotton/64/000000/physics--v1.png" alt="">
                            </div>
                            <h4>Physics</h4>
                            <p>Physics deals with the structure of matter and how the fundamental constituents of the universe interact. </p>
                       </div>
                   </div>
               </div> 
               <div class="col-md-4">
                   <div class="box">
                       <div class="our-services privacy">
                            <div class="icon">
                                <img src="https://img.icons8.com/cotton/64/000000/test-tube-1.png" alt="">
                            </div>
                            <h4>Chemistry</h4>
                            <p>Chemistry is a branch of science that deals with the study of matter and the substances that constitute it. </p>
                       </div>
                   </div>
               </div> 
               <div class="col-md-4">
                   <div class="box">
                       <div class="our-services backups">
                            <div class="icon">
                                <img src="https://img.icons8.com/fluent/64/000000/environment.png" alt="">
                            </div>
                            <h4>Environment</h4>
                            <p>Environmental science integrates physical, biological and information sciences to the study of the environment. </p>
                       </div>
                   </div>
               </div> 
               <div class="col-md-4">
                   <div class="box">
                       <div class="our-services ssl">
                            <div class="icon">
                                <img src="https://img.icons8.com/cotton/64/000000/planet--v1.png" alt="">
                            </div>
                            <h4>Space</h4>
                            <p>Space science deals with space exploration and study natural phenomena and physical bodies occurring in outer space. </p>
                       </div>
                   </div>
               </div> 
               <div class="col-md-4">
                   <div class="box">
                       <div class="our-services database">
                            <div class="icon">
                                <img src="https://img.icons8.com/cotton/64/000000/health-shield--v2.png" alt="">
                            </div>
                            <h4>Health Science</h4>
                            <p>Health science deals with delivery of health care to humans and animals through the application of science and technology. </p>
                       </div>
                   </div>
               </div> 
               
            </div>
        </div>
    </div>
</div>